body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--page-bg);
}
nav{
    background-color: var(--navbar-bg);
    padding: 7px 30px;
    display: flex  ;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
nav p{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-blue);
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: bold;
    justify-content: center;
    color: black;
}
.nav-list li a{
    text-decoration: none;
    color: var(--text-primary);
    font-size: 16px;
}
.container{
    display:flex;
}
.sidebar{
    width: 250px;
    /* background-color: var(--sidebar-bg); */
    padding: 20px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid var(--border-light);
}
.new-chat{
    background-color: var(--primary-blue);
    color: var(--user-text);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.recent{
    background-color: white;
    padding: 15px 10px;
    width: calc(100% + 20px) ;
    font-weight: bold;
    margin-left: -20px;
}
.recent-chats{
    list-style: none;
    padding-left: 0;   
    margin-top: 0;     
}
.recent-chats li{
    padding:  10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
      
}
.recent-chats li img{
    margin-right: 10px;
}

.recent-chats li:hover{
    background-color: var(--sidebar-hover);
}
.main{
    flex: 1;
    padding: 20px;
    width: calc(100% - 250px);
    text-align: center;
    color: var(--text-primary);
}